body {
  margin: 0;
  overflow: hidden;
  width: 100vh;
  height: 100vh;
}

.expressApp {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  overflow: hidden;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}
